<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>CustomerPageMenuServlet</servlet-name>
        <servlet-class>Controller.CustomerPageMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CustomerPageAboutServlet</servlet-name>
        <servlet-class>Controller.CustomerPageAboutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerPageCartServlet</servlet-name>
        <servlet-class>Controller.CustomerPageCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerPageContactServlet</servlet-name>
        <servlet-class>Controller.CustomerPageContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerPageIndexServlet</servlet-name>
        <servlet-class>Controller.CustomerPageIndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerPageInformationServlet</servlet-name>
        <servlet-class>Controller.CustomerPageInformationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerPageServicesMenuServlet</servlet-name>
        <servlet-class>Controller.CustomerPageServicesMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionCartServlet</servlet-name>
        <servlet-class>Controller.SessionCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorizePaymentServlet</servlet-name>
        <servlet-class>Paypal.AuthorizePaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewPaymentServlet</servlet-name>
        <servlet-class>Paypal.ReviewPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExecutePaymentServlet</servlet-name>
        <servlet-class>Paypal.ExecutePaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Booking_bookServlet</servlet-name>
        <servlet-class>Controller.Booking_bookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Booking_ConfirmInfo</servlet-name>
        <servlet-class>Controller.Booking_ConfirmInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Booking_signUpServlet</servlet-name>
        <servlet-class>Controller.Booking_signUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>Controller.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Booking</servlet-name>
        <servlet-class>Controller.Booking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerPageTicketServlet</servlet-name>
        <servlet-class>Controller.CustomerPageTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Booking_LoginServlet</servlet-name>
        <servlet-class>Controller.Booking_LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Haven</servlet-name>
        <servlet-class>Controller.Haven</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyAccountCustomer</servlet-name>
        <servlet-class>Controller.VerifyAccountCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Booking_Logout</servlet-name>
        <servlet-class>Controller.Booking_Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Booking_ForgotPassword</servlet-name>
        <servlet-class>Controller.Booking_ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Booking_resetPassword</servlet-name>
        <servlet-class>Controller.Booking_resetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmPassword</servlet-name>
        <servlet-class>Controller.ConfirmPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>Controller.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>Controller.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Booking_ChangePass</servlet-name>
        <servlet-class>Controller.Booking_ChangePass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminIndexServlet</servlet-name>
        <servlet-class>Controller.AdminIndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_AddConvenient</servlet-name>
        <servlet-class>Controller.Admin_AddConvenient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_AddEmployee</servlet-name>
        <servlet-class>Controller.Admin_AddEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_AddLocation</servlet-name>
        <servlet-class>Controller.Admin_AddLocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_AddRoom</servlet-name>
        <servlet-class>Controller.Admin_AddRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_AddRoomImage</servlet-name>
        <servlet-class>Controller.Admin_AddRoomImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_AddRoomType</servlet-name>
        <servlet-class>Controller.Admin_AddRoomType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_AddService</servlet-name>
        <servlet-class>Controller.Admin_AddService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Convenient</servlet-name>
        <servlet-class>Controller.Admin_Convenient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Customer</servlet-name>
        <servlet-class>Controller.Admin_Customer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Employee</servlet-name>
        <servlet-class>Controller.Admin_Employee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Location</servlet-name>
        <servlet-class>Controller.Admin_Location</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Receipt</servlet-name>
        <servlet-class>Controller.Admin_Receipt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_ReceiptComponent</servlet-name>
        <servlet-class>Controller.Admin_ReceiptComponent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Room</servlet-name>
        <servlet-class>Controller.Admin_Room</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_RoomImage</servlet-name>
        <servlet-class>Controller.Admin_RoomImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_RoomType</servlet-name>
        <servlet-class>Controller.Admin_RoomType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Services</servlet-name>
        <servlet-class>Controller.Admin_Services</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_UpdateConvenient</servlet-name>
        <servlet-class>Controller.Admin_UpdateConvenient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_UpdateEmployee</servlet-name>
        <servlet-class>Controller.Admin_UpdateEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_UpdateLocation</servlet-name>
        <servlet-class>Controller.Admin_UpdateLocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_UpdateReceipt</servlet-name>
        <servlet-class>Controller.Admin_UpdateReceipt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_UpdateRoom</servlet-name>
        <servlet-class>Controller.Admin_UpdateRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_UpdateRoomImage</servlet-name>
        <servlet-class>Controller.Admin_UpdateRoomImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_UpdateRoomType</servlet-name>
        <servlet-class>Controller.Admin_UpdateRoomType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_UpdateService</servlet-name>
        <servlet-class>Controller.Admin_UpdateService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Booking_Location</servlet-name>
        <servlet-class>Controller.Booking_Location</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_QrCode</servlet-name>
        <servlet-class>Controller.Admin_QrCode</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerPageMenuServlet</servlet-name>
        <url-pattern>/CustomerPageMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerPageAboutServlet</servlet-name>
        <url-pattern>/CustomerPageAboutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerPageCartServlet</servlet-name>
        <url-pattern>/CustomerPageCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerPageContactServlet</servlet-name>
        <url-pattern>/CustomerPageContactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerPageIndexServlet</servlet-name>
        <url-pattern>/CustomerPageIndexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerPageInformationServlet</servlet-name>
        <url-pattern>/CustomerPageInformationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerPageServicesMenuServlet</servlet-name>
        <url-pattern>/CustomerPageServicesMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionCartServlet</servlet-name>
        <url-pattern>/SessionCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorizePaymentServlet</servlet-name>
        <url-pattern>/AuthorizePaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewPaymentServlet</servlet-name>
        <url-pattern>/ReviewPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecutePaymentServlet</servlet-name>
        <url-pattern>/ExecutePaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Booking_bookServlet</servlet-name>
        <url-pattern>/Booking_bookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Booking_ConfirmInfo</servlet-name>
        <url-pattern>/Booking_ConfirmInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Booking_signUpServlet</servlet-name>
        <url-pattern>/Booking_signUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Booking</servlet-name>
        <url-pattern>/Booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerPageTicketServlet</servlet-name>
        <url-pattern>/CustomerPageTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Booking_LoginServlet</servlet-name>
        <url-pattern>/Booking_LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Haven</servlet-name>
        <url-pattern>/Haven</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyAccountCustomer</servlet-name>
        <url-pattern>/VerifyAccountCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Booking_Logout</servlet-name>
        <url-pattern>/Booking_Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Booking_ForgotPassword</servlet-name>
        <url-pattern>/Booking_ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Booking_resetPassword</servlet-name>
        <url-pattern>/Booking_resetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmPassword</servlet-name>
        <url-pattern>/ConfirmPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Booking_ChangePass</servlet-name>
        <url-pattern>/Booking_ChangePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminIndexServlet</servlet-name>
        <url-pattern>/AdminIndexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_AddConvenient</servlet-name>
        <url-pattern>/Admin_AddConvenient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_AddEmployee</servlet-name>
        <url-pattern>/Admin_AddEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_AddLocation</servlet-name>
        <url-pattern>/Admin_AddLocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_AddRoom</servlet-name>
        <url-pattern>/Admin_AddRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_AddRoomImage</servlet-name>
        <url-pattern>/Admin_AddRoomImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_AddRoomType</servlet-name>
        <url-pattern>/Admin_AddRoomType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_AddService</servlet-name>
        <url-pattern>/Admin_AddService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Convenient</servlet-name>
        <url-pattern>/Admin_Convenient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Customer</servlet-name>
        <url-pattern>/Admin_Customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Employee</servlet-name>
        <url-pattern>/Admin_Employee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Location</servlet-name>
        <url-pattern>/Admin_Location</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Receipt</servlet-name>
        <url-pattern>/Admin_Receipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_ReceiptComponent</servlet-name>
        <url-pattern>/Admin_ReceiptComponent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Room</servlet-name>
        <url-pattern>/Admin_Room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_RoomImage</servlet-name>
        <url-pattern>/Admin_RoomImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_RoomType</servlet-name>
        <url-pattern>/Admin_RoomType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Services</servlet-name>
        <url-pattern>/Admin_Services</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_UpdateConvenient</servlet-name>
        <url-pattern>/Admin_UpdateConvenient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_UpdateEmployee</servlet-name>
        <url-pattern>/Admin_UpdateEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_UpdateLocation</servlet-name>
        <url-pattern>/Admin_UpdateLocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_UpdateReceipt</servlet-name>
        <url-pattern>/Admin_UpdateReceipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_UpdateRoom</servlet-name>
        <url-pattern>/Admin_UpdateRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_UpdateRoomImage</servlet-name>
        <url-pattern>/Admin_UpdateRoomImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_UpdateRoomType</servlet-name>
        <url-pattern>/Admin_UpdateRoomType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_UpdateService</servlet-name>
        <url-pattern>/Admin_UpdateService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Booking_Location</servlet-name>
        <url-pattern>/Booking_Location</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_QrCode</servlet-name>
        <url-pattern>/Admin_QrCode</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/newjsf.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
