<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>CustomerPageMenuServlet</servlet-name>
        <servlet-class>Servlet.CustomerPageMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CustomerPageAboutServlet</servlet-name>
        <servlet-class>Servlet.CustomerPageAboutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerPageCartServlet</servlet-name>
        <servlet-class>Servlet.CustomerPageCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerPageContactServlet</servlet-name>
        <servlet-class>Servlet.CustomerPageContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerPageIndexServlet</servlet-name>
        <servlet-class>Servlet.CustomerPageIndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerPageInformationServlet</servlet-name>
        <servlet-class>Servlet.CustomerPageInformationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerPageServicesMenuServlet</servlet-name>
        <servlet-class>Servlet.CustomerPageServicesMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionCartServlet</servlet-name>
        <servlet-class>Servlet.SessionCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorizePaymentServlet</servlet-name>
        <servlet-class>Paypal.AuthorizePaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewPaymentServlet</servlet-name>
        <servlet-class>Paypal.ReviewPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExecutePaymentServlet</servlet-name>
        <servlet-class>Paypal.ExecutePaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Booking_bookServlet</servlet-name>
        <servlet-class>Servlet.Booking_bookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Booking_ConfirmInfo</servlet-name>
        <servlet-class>Servlet.Booking_ConfirmInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Booking_signUpServlet</servlet-name>
        <servlet-class>Servlet.Booking_signUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>Servlet.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Booking</servlet-name>
        <servlet-class>Servlet.Booking</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerPageMenuServlet</servlet-name>
        <url-pattern>/CustomerPageMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerPageAboutServlet</servlet-name>
        <url-pattern>/CustomerPageAboutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerPageCartServlet</servlet-name>
        <url-pattern>/CustomerPageCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerPageContactServlet</servlet-name>
        <url-pattern>/CustomerPageContactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerPageIndexServlet</servlet-name>
        <url-pattern>/CustomerPageIndexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerPageInformationServlet</servlet-name>
        <url-pattern>/CustomerPageInformationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerPageServicesMenuServlet</servlet-name>
        <url-pattern>/CustomerPageServicesMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionCartServlet</servlet-name>
        <url-pattern>/SessionCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorizePaymentServlet</servlet-name>
        <url-pattern>/AuthorizePaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewPaymentServlet</servlet-name>
        <url-pattern>/ReviewPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecutePaymentServlet</servlet-name>
        <url-pattern>/ExecutePaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Booking_bookServlet</servlet-name>
        <url-pattern>/Booking_bookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Booking_ConfirmInfo</servlet-name>
        <url-pattern>/Booking_ConfirmInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Booking_signUpServlet</servlet-name>
        <url-pattern>/Booking_signUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Booking</servlet-name>
        <url-pattern>/Booking</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/newjsf.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
